<div id="sidedrawer" class="initialX">
  <div
    class="profile-sidedrawer"
    onclick="profilepage();"
    userid="<%=user.id%>"
  >
    <img src="<%=user.avatar%>" alt="profile-pic" height="50px" />
    <h3 userid="<%=user.id%>"><%=user.name%></h3>
    <p userid="<%=user.id%>" class="arrow">></p>
  </div>

  <%-include('_controls')%>
</div>
<div id="hamburger-icon" onclick="show()">
  <input type="checkbox" id="check" />
  <div class="hamburger"><div></div></div>
</div>
<div id="header-container" class="original-header">
  <div id="logo">
    <a href="/">
      <img src='<%=assetPath("images/logo.png")%>' alt="logo" width="90px" />
    </a>
  </div>

  <div id="navigation">
    <%- include('_navigation')%>

    <div class="profile nav">
      <span>
        <img src="<%=user.avatar%>" alt="" height="40px" />
      </span>

      <div
        class="nav-bar display animate__animated animate__backInDown animate__faster"
      >
        <div class="arrow"></div>
        <!-- ------------------1------------------- -->
        <div id="personal" onclick="profilepage();" userid="<%=user.id%>">
          <img src="<%=user.avatar%>" alt="" height="55px" />
          <p userid="<%=user.id%>"><%= user.name %></p>
          <span userid="<%=user.id%>"> > </span>
        </div>

        <%-include('_controls')%>
      </div>
    </div>

    <div class="languages nav">
      <i class="fas fa-globe fa-lg"></i>

      <div
        class="lang-nav-container animate__animated animate__backInDown animate__faster display"
      >
        <div class="arrow"></div>

        <div id="title">
          <span>Languages</span>
        </div>

        <div id="languages">
          <!-- to do for the languages -->
          <% for(let l of user.languages){ %>
          <div id="lang-<%=l%>" class="lang-style">
            <span><%=l%></span>
          </div>
          <% } %>
        </div>

        <div id="lang-settings">
          <span>
            <a href="">Add Language</a>
          </span>
        </div>
      </div>
    </div>

    <!-- <div id="add-question">
            <a href="" id="button">Add Questions</a>
        </div> -->
    <button class="hoverButton" type="button" onclick="displayForm();">
      Add Question
    </button>
  </div>
</div>
