<div class="main">
  <div class="containerstyleFormessage list">
    <div class="messageBox-header">
      <h2>Messages</h2>
    </div>

    <div class="messageBox-listOfUser-container">
      <% for(let user of userList){ %> <% if(user.id!=locals.user.id){ %>
      <div
        class="user"
        id="user-<%=user.id%>"
        userid="<%=user.id%>"
        userEmail="<%=user.email%>"
      >
        <div class="image-container">
          <img src="<%=user.avatar%>" alt="" height="45px" />
        </div>

        <p class="name" userid="<%=user.id%>" userEmail="<%=user.email%>">
          <%=user.name%>
        </p>
      </div>
      <%}%> <%}%>
    </div>

    <div class="messageBox-footer">
      <button class="cancelMessage">Cancel</button>
    </div>
  </div>

  <!-- for specific chats -->
  <div class="containerstyleFormessage chatbox">
    <div class="messageBox-header">
      <i onclick="back();" class="fas fa-chevron-left fa-lg"></i>
      <h2 class="forWhom">Messages for some-name</h2>
    </div>

    <div class="message-container">
      <ul id="chat-messages-list"></ul>
    </div>

    <div class="chatBox-footer">
      <form action="" method="POST" id="message-form">
        <div class="input-container">
          <input
            type="text"
            name="message"
            required
            placeholder="Type Here ...."
          />
        </div>
        <button type="submit"><i class="far fa-paper-plane"></i></button>
      </form>
    </div>
  </div>
</div>

<audio>
  <source src='<%=assetPath("audio/Apple.mp3")%>' type="audio/mpeg" />
</audio>
