<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quora</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href='<%=assetPath("css/layout1.css")%>' />
    <link rel="stylesheet" href='<%=assetPath("css/header1.css")%>' />
    <%- style %>
  </head>
  <body>
    <header><%- include('_header1')%></header>

    <%- body %> <%- script %>
  </body>
</html>
