<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/ae87392b1d.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <link rel="stylesheet" href='<%=assetPath("css/layout2.css")%>' />
    <link rel="stylesheet" href='<%=assetPath("css/header2.css") %>' />
    <link rel="stylesheet" href='<%=assetPath("css/message.css")%>' />
    <title>Quora</title>

    <%-style%>
  </head>
  <body class="original">
    <header><%- include('_header2') %></header>

    <main>
      <%- body %> <%- include('_question_form')%> <%- include('_message')%>
    </main>

    <!-- This is the question form which will appear if the add question is clicked -->

    <%- include('_footer') %>

    <div id="black" class="display"></div>

    <%- script %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src='<%=assetPath("js/questionForm.js")%>'></script>
    <script src='<%=assetPath("js/header2.js")%>'></script>
    <script src='<%=assetPath("js/message.js")%>'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src='<%=assetPath("js/chat_engine.js")%>'></script>
    <script>
      new Chatengine(
        "chatbox",
        "<%=locals.user.name%>",
        "<%=locals.user.email%>"
      );
    </script>
  </body>
</html>
