<link rel="stylesheet" href="/css/question.css">
<div class="pop-up">
    <span>
        
    </span>
</div>

<div id="main-container" class="background-white">


    <div id="question-container" class="background-white">
        <div id="question">
            <h2><%=question.question%></h2>
        </div>

        <div class="buttons">
            <!-- some button to answer or follow this question -->
            <button onclick="showAnswerTab();" class="answer">
                <i class="fas fa-feather-alt fa-lg blue"></i> 
                <span class="grey">
                    Answer
                </span>
            </button>
            <button class="follow" onclick="follow();" link="/follow/toggle?id=<%=question.id%>">
                <% let followed=false %>
                <% for(let f of follow){ %>
                    <% if(f.question==question.id){ %>
                        <% followed=true; break; %>
                    <%}%>    
                <%}%>
                
                <% if(!followed){ %>
                    
                    <i class="fas fa-rss fa-lg grey"></i>
                    <span class="grey">
                        Folllow .
                    </span>
                    <div class="number_of_follow">
                        <div class="outer-cage initial">
                            <div class="grey"><%=question.follow.length%></div>
                            <div class="grey"><%=question.follow.length+1%></div>
                        </div>
                    </div>
                <%}else{ %>
                    
                    <i class="fas fa-rss fa-lg blue"></i>
                    <span class="blue">
                        Folllow .
                    </span>
                    <div class="number_of_follow">
                        <div class="outer-cage upanddown">
                            <div class="grey"><%=question.follow.length-1%></div>
                            <div class="grey"><%=question.follow.length%></div>
                        </div>
                    </div>

                <% }%>

            </button>

            
            <i id="more" class="fas fa-ellipsis-h fa-lg" onclick="showOptions();"></i>

        </div>
        
        <div class="options-for-question background-white animate__animated animate__pulse animate__faster display">
                                
            <div class="style">
                <span>Answer Anonymously</span>
            </div>
            
            <div class="style">
                <span>Downvote Question</span>
            </div>
            
            <div class="style">
                <span>Report</span>
            </div>
            

        </div>
        
        <div id="user-anwser">
            <!-- if the user has not answered it give him a option --> 
            <% if((question.answersOnQuestion.length>0) && (userBool)){ %> 
                
                <div id="user_details">
                    <img src="/uploads/user/avatar/Default.jpg" alt="" width="45px">
                    <span class="bold"><%=user.name%></span>
                    
                </div>

                <div id="answer">
                    <p>
                        <%=userAnswer.answer%>
                    </p>
                </div>
                <div class="controls" >
                    <button class="upvote" onclick="upvoteAnswer();" idAnswer="<%=userAnswer.id%>">
                        <% let likes=false %>
                        <% for(let l of like){ %>
                            <% if(l.likedon==userAnswer.id){ likes=true } %>
                        <%}%>

                        <% if(!likes){ %>
                            <i class="far fa-thumbs-up fa-lg grey first"></i>
                            <div class="number_of_like">
                                <div class="outer-cage initial">
                                    <div class="grey"><%=userAnswer.like.length%></div>
                                    <div class="grey"><%=userAnswer.like.length+1%></div>
                                </div>
                            </div>
                        <%} else{%>
                            <i class="far fa-thumbs-up fa-lg blue first"></i>
                            <div class="number_of_like">
                                <div class="outer-cage upanddown">
                                    <div class="grey"><%=userAnswer.like.length-1%></div>
                                    <div class="grey"><%=userAnswer.like.length%></div>
                                </div>
                            </div>
                        <%}%>
                    </button>
                    <i class="far fa-comment fa-lg grey first" onclick="toggleCommentSection();"></i>
                    <span>
                        <i class="far fa-thumbs-down fa-lg grey second"></i>
                        <i class="fas fa-ellipsis-h fa-lg more" onclick="showOptionsA();"></i>
                    </span>
                </div>
                <div class="options-for-answer background-white animate__animated animate__pulse animate__faster display">
                                
                    <div class="style">
                        <span>Delete Answer</span>
                    </div>
                    
                    <div class="style">
                        <span>Edit Answer</span>
                    </div>
        
                </div>
                <div class="comment-section">
                    <div class="comment-container-user">
                        <img src="/uploads/user/avatar/Default.jpg" alt="" width="50px">
                        
                        <input id="<%=userAnswer.id%>" type="text" placeholder="Add a comment" name="comment"  >
                        
                        <button onclick="commentSubmitUser()">Add Comment</button>
                    </div>
                    <div class="comments-container display">
                        <% for(let c of userAnswer.comments){ %>
                            <% let showTime; %>
                            <% let currentDate=new Date();let date=new Date(c.createdAt); %>
                            <% if(currentDate.getFullYear()-date.getFullYear() !=0){ showTime=currentDate.getFullYear() -date.getFullYear() +' year ago' }else if(currentDate.getMonth() -date.getMonth() !=0){ showTime=currentDate.getMonth() -date.getMonth() +' month ago' }else if( currentDate.getDate()-date.getDate()!=0){ showTime=currentDate.getDate()-date.getDate()+' day ago' }else if(currentDate.getHours()-date.getHours()!=0){ showTime=currentDate.getHours()-date.getHours()+' hour ago' }else{ showTime=currentDate.getMinutes()-date.getMinutes()+' minutes ago' }    %>
                                    
                            <% if(c.user.id==user.id ){ %>
                            
                                <div class="comment">
                                    <img src="/uploads/user/avatar/Default.jpg" alt="" width="45px">
                                    <span class="bold"><%=c.user.name%></span>
                                    <small><%=showTime%></small>
                                    <p><%=c.comment %></p>
                                    <i class="far fa-thumbs-up fa-lg grey first"></i>
                                    <i class="far fa-thumbs-down fa-lg grey second"></i>
                                        <i class="fas fa-ellipsis-h fa-lg more" onclick="showOptionsComment();" ></i>
                                        <div class="options-for-comment background-white animate__animated animate__pulse animate__faster display" >
                                            <div class="style">
                                                <span>Delete Comment</span>
                                            </div>
                                            
                                            <div class="style">
                                                <span>Edit Comment</span>
                                            </div>
                                        </div>
                                    
                                </div>

                            <%}else{%>
                                <div class="comment">
                                    <img src="/uploads/user/avatar/Default.jpg" alt="" width="45px">
                                    <span class="bold"><%=c.user.name%></span>
                                    <small><%=showTime%></small>
                                    <p><%=c.comment %></p>
                                    <i class="far fa-thumbs-up fa-lg grey first"></i>
                                    <i class="far fa-thumbs-down fa-lg grey second extraleft"></i>
                                </div>
                            <%}%>
                        
                        <%}%>
                    </div>
                </div>  
                

             <%}else{%>


                <!-- <span>Want to answer this question ok</span> -->
                <div class="asking_to_answer_container">
                    <img src="/uploads/user/avatar/Default.jpg" alt="" width="55px">
                    <!-- <% let first_name=user.name.split(' ')%> -->
                    <h4><%=user.name%>,can you answer this question?</h4>
                    <p class="grey">People are searching for an answer to this question</p>
                    <button onclick="showAnswerTab();" class="answer">
                        <i class="fas fa-feather-alt fa-lg blue"></i> 
                        <span class="grey">
                            Answer
                        </span>
                    </button>
                </div>

                <div class="textarea-for-answering display">
                    <div class="personal-details background-grey">
                        <img src="/uploads/user/avatar/Default.jpg" alt="" width="55px">
                        <div>
                            <p><%=user.name %></p>
                            <a href="">Edit Credentials</a>
                        </div>
                    </div>

                    <div class="controls background-white">

                        <div class="outer-control">

                            <!-- ------------1--------------------- -->
                            <div class="_1 control-style">
                                <i class="fas fa-link" style="color:rgb(0, 102, 255);"></i>
                                <input type="text" placeholder="Enter URL" onfocus="this.value=''">
                                <button onclick="show2nav();">Add</button>
                            </div>


                            <!-- -------------2----------------- -->
                            <div class="_2 control-style">
                                <div class="primary_controls"> 
                                    <div class="text-control" onclick="blue();">
                                        <i class="fas fa-bold fa-lg"></i>
                                        <input type="hidden" value="bold" >
                                    </div>
                                    <div class="text-control" onclick="blue();">
                                        <i class="fas fa-italic fa-lg"></i>
                                        <input type="hidden" value="italic">
                                    </div>
                                </div>

                                <div class="secondary_controls">
                                    <div class="other-control">
                                        <i class="fas fa-images fa-lg"></i>
                                        <input type="hidden" value="image">
                                    </div>

                                    <div class="other-control" onclick="show1nav();">
                                        <i class="fas fa-link fa-lg"></i>
                                        <input type="hidden" value="link">
                                    </div>

                                    
                                </div>
                            </div>

                        </div>
                        
                    </div>

                    <div class="input">
                        <div class="textArea" contenteditable="true">
                            
                        </div>
                    </div>

                    <div class='footer background-grey'>
                        <button link='/answers/create?id=<%=question.id%>' id='<%=question.id%>' class="submit-answer" onclick="submit();">Submit</button>
                    </div>

                </div>

            <%}%> 
            
            <!-- if the user has answered it then show the user his answer first -->
        </div>

        <div id="other-user-answer">
            <!-- here if any other answer other than logged in user is there i will print those  -->
           <%if(question.answersOnQuestion.length>1) { %>
            <h4><%=question.answersOnQuestion.length%> total Answers</h4>
            <% for(let a of question.answersOnQuestion){ %>
                <% if(a.user.id!=user.id){ %>
                    <div class="answers_another_user">
                        <div class="another_user_info">
                            <img src="/uploads/user/avatar/Default.jpg" alt="" width="50px">
                            <span class="bold" ><%=a.user.name%></span>
                        </div> 
                        <div class="another_user_answer">
                        
                        <p><%= a.answer%></p>
                        </div>
                        
                        <div class="controls">
                            <i class="far fa-thumbs-up fa-lg grey first"></i>
                            <i onclick="toggleCommentSection();" class="far fa-comment fa-lg grey first"></i>
                            
                            <i class="far fa-thumbs-down fa-lg grey second"></i>
                        </div>
                        <div class="comments-section">
                            <div class="comment-container-other">
                                <img src="/uploads/user/avatar/Default.jpg" alt="" width="40px">
                                <input  type="text" placeholder="Add a comment" id="<%=a.id%>" >
                                <button onclick="commentSubmitOther()">Add Comment</button>
                            </div>

                            <div class="comments-container display">
                                <%for(let c of a.comments){ %>
                                    <% let showTime; %>
                                    <% let currentDate=new Date();let date=new Date(c.createdAt); %>
                                    <% if(currentDate.getFullYear()-date.getFullYear() !=0){ showTime=currentDate.getFullYear() -date.getFullYear() +' year ago' }else if(currentDate.getMonth() -date.getMonth() !=0){ showTime=currentDate.getMonth() -date.getMonth() +' month ago' }else if( currentDate.getDate()-date.getDate()!=0){ showTime=currentDate.getDate()-date.getDate()+' day ago' }else if(currentDate.getHours()-date.getHours()!=0){ showTime=currentDate.getHours()-date.getHours()+' hour ago' }else{ showTime=currentDate.getMinutes()-date.getMinutes()+' minutes ago' }    %>

                                    <% if(user.id!=c.user.id){ %>
                                        <div class="comment">
                                            <img src="/uploads/user/avatar/Default.jpg" alt="" width="45px">
                                            <span class="bold"><%=c.user.name%></span>
                                            <small><%=showTime%></small>
                                            <p><%=c.comment %></p> 
                                            <i class="far fa-thumbs-up fa-lg grey first"></i>
                                            <i class="far fa-thumbs-down fa-lg grey second extraleft"></i>

                                        </div>
                                    <%}else{ %>
                                        <div class="comment">
                                            <img src="/uploads/user/avatar/Default.jpg" alt="" width="45px">
                                            <span class="bold"><%=c.user.name%></span>
                                            <small><%=showTime%></small>
                                            <p><%=c.comment %></p>
                                            <i class="far fa-thumbs-up fa-lg grey first"></i>
                                            <i class="far fa-thumbs-down fa-lg grey second"></i>
                                            <i class="fas fa-ellipsis-h fa-lg more" onclick="showOptionsComment();" ></i>
                                            <div class="options-for-comment background-white animate__animated animate__pulse animate__faster display" >
                                                <div class="style">
                                                    <span >Delete Comment</span>
                                                </div>
                                                <div class="style">
                                                    <span  >Edit Comment</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    <%}%>

                                <%}%>
                            </div>
                        </div>
                    </div>
                <%}%>
            <%}%>
            <% }else {%>
            <!-- if not there will be no answers yet -->
                <div id="no_answers_container">
                    <i class="fas fa-pen fa-2x blue"></i> 
                    <h3>No more Answers yet</h3>
                </div>

            <%}%>
        </div>

    </div>    

    <div id="related-question-container">
        
            <div id="outer-div">

                <div id="header">
                    <h3>Related Question</h3>
                </div>
    
                <% for(let q of questionALL){ %>
                   <% if(q.user!=user.id){%>
                        <div class="questions">
                            <a href="/question/display?id=<%=q.id%>"><%=q.question%></a>
                        </div>
                    <%}%>
                <%}%>

            </div>


        
    </div>

</div>


<script src="/js/question.js"></script>